services:
  api:
    build: .
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - ./src:/app/src
    command: uvicorn app.main:app --reload --host 0.0.0.0 --port 8080
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"